body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond */
}

.container {
    width: 90%;
    max-width: 600px; /* Largeur maximale de la boîte */
    padding: 20px;
    background-color: #fff; /* Couleur de fond de la boîte */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre */
    text-align: center; /* Centrer le contenu */
}

.container img {
    max-width: 90%; /* Pour s'assurer que l'image ne dépasse pas la largeur de la boîte */
}

